<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="top-bar">
  <div class="left-side">
    <div class="home-icon"></div>
    <a href="../" class="home-button">Home</a>
    <div class="library-icon"></div>
    <a href="../../favlist" class="library-button">Library</a>
  </div>
</div>

<h1>{{title}}</h1>
<hr>
<body>

    <div class = 'container mt-4'>
         <button class="go-back-button"  onclick= window.history.back();>
  <i class="fas fa-arrow-left"></i>
  Back
</button>
        {{{body}}}
    </div>
</body>
</html>


<style>
    

.top-bar {
  background: #0f0c29ba;
  color: white;
  display: flex;
  align-items: center;
  padding: 3px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.left-side {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

hr{
  padding-bottom:5px;
  color:#e98940;
}


a:hover {
  background-color: rgba(255, 255, 255, 0.091);
  color: purple;
  cursor: pointer;
}


a.home-button, a.discover-button, a.library-button {
  display: inline-flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, sans-serif;
  transition: all 0.3s ease-in-out;
}

a.home-button:active, a.discover-button:active, a.library-button:active {
  transform: translateY(2px);
}


.go-back-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.rem;
  padding: 0.5rem;
  color:#c25a0b;
}

.go-back-button:hover {
    color:#e96908;
}

h1{
    padding: 2.5rem;
    padding-top:3.5rem;
}


    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  
  h1 {
    font-size: 48rpx;
    padding-top: 75px;
  }

  h4 {
    text-align: center;
  }

h3 {
  font-weight: bold;
  margin-top: 20px;
}

  .cover {
    width: 110px;
    height: 160px;
  }

.book {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.548);
  transition: transform 0.2s ease-in-out;
  margin: 10px;
  text-align: center;
}

.book:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.book img {
  padding-top: 10px;
  width: 150;
  height: 250;
}

.book h2 {
  margin-top: 10px;
  font-size: 1.0em;
  color: white;
}

.book p {
  margin-top: 5px;
  font-size: 0.8em;
  color: gray;
}

  
  
</style>